.bola{
    background-image: url(Venue-1-38edfbf0.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 90%;
    border-radius: 20px;
    justify-items: center;
}
nav{
    display: flex;
    position: fixed;
    text-align: center;
    background-color: white;
    width: 100%;
}
.navbar{
text-decoration: none;
display: flex;
}

p a {
    text-decoration: none;
    margin: 30px;
}


.all{
    margin-left: 59px;
}
.sndsp{
    margin-left: 22%;
    margin-top: -30%;
}
.tndsp{
    margin-left: 44%;
    margin-top: -29%;
}
.fndsp{
    margin-left: 67%;
    margin-top: -29%;
}

.bolanlemi{
    border: 1px solid white;
    height:70vh;
    width: 40%;
    border-radius: 20px;
    background-color: whitesmoke;

}
.bolanlemi :hover{
    background-color: green;
}

.bolanlewa{
    border: 1px solid white;
    height:80vh;
    width: 40%;
    border-radius: 20px;
    background-color: #ffca4c;

}
.bolanlemi :hover{
    background-color: green;
}


.bolanleyin{
    border: 1px solid white;
    height:70vh;
    width: 40%;
    border-radius: 20px;
    background-color: whitesmoke;

}
.bolanlemi :hover{
    background-color: green;
}
.allbox{
    display: flex;
    gap: 10px;
}